.flexBox{
    height: 1500px;
    width: 1800px;
    display: flex;
    flex-direction: column;
}

.flexTarea{
    height: 250px;
    width: 1800px;
    display: flex;
    direction: row;
}

.nuevaTarea{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
}

.tituloTarea{
    height: 20px;
    width: 400px;
    border: 1px;
    border-radius: 15px;
    margin-left: 5px;
    background-color: lightgrey;
}

.descripcionTarea{
    height: 150px;
    width: 400px;
    border: 1px;
    border-radius: 15px;
    margin-left: 5px;
    background-color: lightgrey;
}

.flexBotones{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.formularioEstado{
    margin-top: 20px;
    margin-left: 10px;
}

.labelPrioridad{
    margin-top: 5px;
    margin-left: 10px;
}

.botonAñadirTarea{
    height: 20px;
    width: 100px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: red;
    color: aliceblue;

}

.flexListasEstados{
    height: 820px;
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.espacioToDo{
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espacioDoing{
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espacioDone{
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espacioDeleted{
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listaTodo,.listaDoing,.listaDone,.listaDeleted{
    height: 800px;
    width: 250px;
    background-color: lightgrey;
    border-radius: 8px;
    border: 1px;
    overflow-y:scroll;
}

.vaciar{
    margin-top: 5px;
    background-color: red;
    color: aliceblue;
}

.flexListaGeneral{
    height: 250px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.listaGeneral{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgrey;
    height: 300px;
    width: 100%;
    border: 1px;
    border-radius: 15px;
}

.tareaSimple{
    margin: 5px;
    border-radius: 5px;
    background-color: bisque;

}

.dentroTarea{
    display: flex;
    justify-content: space-between;
}
   