.flexBox{
    height: 1500px;
    width: 1800px;
    display: flex;
    flex-direction: column;
}

.flexTarea{
    height: 250px;
    width: 1800px;
    display: flex;
    direction: row;
}

.nuevaTarea{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
}

.tituloTarea{
    height: 20px;
    width: 400px;
    border: 1px;
    border-radius: 15px;
    margin-left: 5px;
    background-color: lightgrey;
}

.descripcionTarea{
    height: 150px;
    width: 400px;
    border: 1px;
    border-radius: 15px;
    margin-left: 5px;
    background-color: lightgrey;
}

.flexBotones{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.formularioEstado{
    margin-top: 20px;
    margin-left: 10px;
}

.labelPrioridad{
    margin-top: 5px;
    margin-left: 10px;
}

.botonAñadirTarea{
    height: 20px;
    width: 100px;
    margin-left: 10px;
    margin-top: 20px;

}

.flexListasEstados{
    height: 1000px;
    width: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.espacioToDo{
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listaEstado{
    height: 800px;
    width: 250px;
    background-color: lightgrey;
    border-radius: 15px;
    border: 1px;
}

.flexListaGeneral{
    height: 250px;
    width: 1800px;
    background-color: chartreuse;
}
   